@font-face {
  font-family: "Karla";
  src: url("/fonts/Karla-Var.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  // Chrome, Firefox, Opera, Safari 10.1+
  ::placeholder {
    color: #102754;
    font-weight: 700;
    opacity: 1;
  }
  // Internet Explorer 10-11
  :-ms-input-placeholder {
    color: #102754;
  }
  // Edge
  ::-ms-input-placeholder {
    color: #102754;
  }

  font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #102754;

  h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }

  button {
    font-weight: 700;
  }
}

@layer components {
  .form-field {
    @apply w-full border-2 px-2 h-12 w-full bg-whiteInactive border-2 border-lightblue rounded-md;
  }
}

.createaccount::before {
  content: "";
  @apply bg-orange w-[250px] h-[50px] absolute -top-12 left-4  skew-x-45 z-0;
}

.checkbox {
  @apply w-full h-full absolute bottom-0 left-0 z-0;
}

.input-container input:checked ~ .checkbox {
  @apply bg-lightblue;
}
.dropdown-single input:checked ~ .dropdown-single-label {
  @apply bg-lightblue opacity-100;
}
